* {
  margin: 0;
}

/* first 1 with flexbox - */
.container1 {
  background-color: red;
  /* color: red; */
  /* width: 100%; */
  display: flex;
  height: 100vh;
  justify-content: center;
  /* align-items: center;  not nedd because we do to spesific element center with  align-self: center; in item
  */
}

.item1 {
  background-color: blue;
  /* width: 50%; */
  align-self: center;
  flex: 0.5;
  height: 100px;
}

/* **************************************************************************************** */

/*  2 with margin auto   */

.container2 {
  text-align: center;
}

.item2 img {
  width: 13%;
  height: 100vh;
  object-fit: contain;
}

/* ************************************************************************************ */

/*  3 with margin auto just horizontal centering   */

.container3 {
}

.item3 img {
  display: block;
  width: 13%;
  /* height: 100vh; if we add this it will do incrase the image to screen and
  with  object-fit he will fix the size
    object-fit: contain;
  */
  /* height: 100vh;
  object-fit: contain; */
  margin: 0 auto;
}

/* ******************************************************************************* */

/* 4 with table-cell centering  - */
.container4 {
  /* border: 1px solid blue; */
  display: table;
  height: 100vh;
  width: 100%;
}

.item4 {
  border: 1px solid #000000;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.item4 img {
  border: 1px solid red;
  width: 13%;
  height: auto;
}

/* ************************************************************************************** */

/* 5 with Absolute Centering - */
.container {
  position: relative;
  height: 100vh;
}

.item img {
  width: 13%;
  min-width: 200px;
  height: auto;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ************************************************ */
