* {
  margin: 0;
  padding: 0;
}

body {
}

.thumb-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("shutterstock_615829181.png"), url("bk color.png");
  /* object-fit: cover; */
  color: white;
  z-index: 12;
  overflow: hidden;
}

.thumb-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("bk color.png") center center;
  z-index: -1;
  overflow: hidden;

  /* z-index: -1; */

  /* background-size: cover; */
  /* color: white; */
}

#pic {
  /* width: 50px; */
  /* position: absolute;
  z-index: -1; */
  /* z-index: 2; */
  position: absolute;
  height: 50vh;
  background: url("bk color.png") center center, black;
  color: white;
  z-index: 1;
}
